
.image-section {
  display: flex;
  align-items: flex-start; 
  width: 100%;


  .image-row {
    flex-direction: column; 
    margin:auto;

    img {
      width: 100%; 
      height: auto; 
      overflow: hidden;
      margin:5px;
      margin-right:20px;
    }
   .image-row3, .image-row4 {
      display: none;
    }
  }
  .text-section {
    padding: 20px; 
  }

  @media screen and (min-width: 768px) {
    .image-row {
      flex-direction: column; 
      margin:auto;
      margin-left:10px;
  
      img {
        width: 100%; 
        height: auto; 
        overflow: hidden;
        margin:5px;
        margin-right:20px;
        display: block; 
      }

      .image-row3, .image-row4 {
      display:block;
    }
    .text-section {
      padding: 100px;
    }
  }
}
}