.section-mention-legales {
    padding: 20px;
    text-align:left;

    .mention-legales {
        h2 {
            text-align:left;
        }

        h3 {
            text-decoration: underline;
            text-align:left;
        }

        .li_mentionL {
            list-style-type: disc;
        }
    }

    @media screen and (min-width: 768px) {
        padding-right:70px;
        padding-left:70px;
      }
}