// Variables SCSS
$overlay-color: rgba(0, 0, 0, 0.5);
$popup-background-color: #fff;
$button-color: #4CAF50;
$close-button-color: #f44336;

// Styles généraux pour l'overlay
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $overlay-color;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

// Style pour le pop-up
.popup {
  background-color: $popup-background-color;
  padding: 40px 20px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 80%;
}

// Style pour le header du pop-up
.popUp_header {
  text-align: center;
}

.popUp_container {
  text-align: center;
  margin: auto;
}

h2 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
  font-size: 1.1rem;
  line-height: 1.5;
}

// Styles pour les boutons
.button {
  padding: 12px 25px;
  margin-top: 10px;
  background-color: $button-color;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($button-color, 10%);
  }
}

.closeButton {
  padding: 12px 25px;
  margin-top: 10px;
  margin-left: 10px;
  background-color: $close-button-color;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($close-button-color, 10%);
  }
}

// Media queries pour des ajustements responsive
@media screen and (min-width: 768px) {
  .popup {
    width: 70%;
    padding: 100px;
  }
}
