// Sections.scss

@import 'mixins';

.section {
  display: flex;
  align-items: center;
  justify-content: center;

  .section-text {
    flex: 1;
    padding: 15px;
    font-size: 14px;
    text-align: justify;

    .logo_reseaux {
      display:flex;
      justify-content:center;
      align-items: center;
      width: 100%; 
      height: auto;
      margin-right: 10px;
    }

    .navbar_logoFacebook, .navbar_logoInsta, .navbar_logoTiktok {
      @include logo-styles; 
    }

    h2 {
      font-size: 21px;
    }

    @media screen and (min-width: 768px) and (max-width: 1024px) {
      padding: 14px;
      font-size: 18px;

      .navbar_logoFacebook, .navbar_logoInsta, .navbar_logoTiktok {
        width:60px; 
        
      }
    }

    
  }
  .section-image {
    flex: 1;
    margin-top: 20px;
    width:100%;

    .section-image-photo {
      width:100% 
    }
  }
  @media screen and (min-width: 1025px) {

    .logo_reseaux {
      padding-left:50px
    }

    .section-text {
      flex: 1;
      font-size: 14px;
      text-align: justify;
    }

    .section-image {
      width:100%;
      padding-top:50px;
      padding-bottom:50px;
      padding-right:150px;
      padding-left:150px;
    }
    .text-right, .title-right {
      padding-right:150px;
    }

    .button-right {
      margin-right:150px;
    }

    .text-left, .title-left{
      padding-left:150px;

    }

    .button-left {
      margin-left:150px;
    }


  }
  
  
  
}


