footer {
    background-color: black;
    color: white;
    width:100%;
    display:flex;
    justify-content: space-around;
    align-items: center;

    .footer_logo {
        width: 100px;
    }
iframe {
    display:none;
}
    .footer_img {
        margin-bottom: 10px; 
    }

    .footer_adress,
    .footer_contact,
    .footer_propos,
    .footer_horaires {
        margin-bottom: 30px; 
        text-align: left;

        ul {
            padding:0px;
        }

        a{
            color:white;
        }
    }

    @media only screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        padding-top:70px;
        padding-bottom:70px;
        width:100%;

        iframe {
            display:block;
        }

        .footer_container_content {
            display:flex;
        }

        .footer_img,
        .footer_adress,
        .footer_contact,
        .footer_propos,
        .footer_horaires {
            margin-bottom: 0;
            margin-left: 20px; 
        }

        .footer_logo{
            width:150px;
        }
    }
}
