MONGO_URI=mongodb+srv://aurianevigg:Rlnyn2XhsA4bPMox@cluster0.c6cblup.mongodb.net/
PORT=3001
JWT_SECRET=d4c0ecb32562b16200a18d98f78dd4956b79f864fd6956aa456cd2c70e5aadd0

EMAIL_ADDRESS=anemonerestau@gmail.com
EMAIL_PASSWORD=*hello1997*