// Variables
$primary-color: #005a1e;
$secondary-color: #6c757d;
$error-color: red;
$border-color: #ccc;
$border-radius: 5px;

// Mixin pour les boutons
@mixin button-styles {
  padding: 5px 10px;
  margin-left: 5px;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
}

.reservation-list {
  padding: 20px;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  margin-bottom: 20px;

  .reservation-list-title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .error-message {
    color: $error-color;
  }

  .no-reservations {
    color: $secondary-color;
  }

  .reservation-items {
    list-style-type: none;
    padding: 0;

    .reservation-item {
      border: 1px solid $border-color;
      border-radius: $border-radius;
      padding: 20px;
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .reservation-details {
        flex-grow: 1;
        padding-right: 10px;

        p {
          margin: 5px 0;
        }
      }

      .reservation-actions {
        flex-shrink: 0;

        button {
          @include button-styles;
        }

        .acceptButton {
          background-color: $primary-color;
          color: white;
          padding: 10px;
        }

        .rejectButton {
          background-color: $error-color;
          color: white;
          padding: 10px;
        }
      }
    }
  }
}
