
.transition {
    position: relative;
  }
  
  .transition_image {
    width: 100%; /* Pour s'assurer que l'image prend toute la largeur du conteneur parent */
    height: auto;
  }
  
  .transition_title {
    position: absolute;
    top: 50%; /* Positionne le haut du texte au milieu du conteneur parent */
    left: 50%; /* Positionne la gauche du texte au milieu du conteneur parent */
    transform: translate(-50%, -50%); /* Centre le texte par rapport à son propre centre */
    color: white; /* Ajoutez d'autres styles selon vos besoins */
  }
  