.transition {
  position: relative;

  .transition_title {
    font-family: 'League Spartan', sans-serif;
    text-transform: uppercase;    
    position: absolute;
    top: 25%; 
    left: 50%; 
    transform: translate(-50%, -50%);  
    color: white; 

    @media screen and (min-width: 768px) {
      font-size: 32px;
      top: 50%; 
      left: 50%; 
    }
  }
}

.transition_image {
  width: 100%; 
  height: auto;
}
